---
---

body {
    width: 95%;
    max-width: 500px;
    background-color: var(--c-bkg);
    color: var(--c-text); /* Font Color */
    font-family: sans-serif;
}

hr {
    border-top: 1px solid var(--c-alternative);
}

a {
    color: var(--c-a);
}

*[center], *[centre] {
    text-align: center;
}